<!DOCTYPE html>
<html>
<head>
    <title>错误</title>
    <meta name="viewport" content="width = device-width, initial-scale = 1, minimum-scale = 1, maximum-scale = 1"/>
</head>

<body class="cosumebody">
<div class="info1" style="text-align: center;color: #CCCCCC">
    <h1><%= error.status %></h1>
    <p><%= error.message || message %></p>
</div>
</body>

</html>